{% extends 'index.html' %}

{% block content %}
    <div class="">
        <!-- Login Form -->
        {% if action == "sigin" %}
            <h2 class="">Log in to DJ AUTH</h2>
            <form method="post"  autocomplete="off">
                {% csrf_token %}
                <div class="">
                    <label>Email</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                        {% for error in form.username.errors %}
                            <p class="">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="">
                    <label>Password</label>
                    {{ form.password }}
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <p class="">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div><label>
                    <input type="checkbox" name="" id="">
                    <span>Remeber Me</span>
                </label></div>
                <button type="submit">LOGIN</button>
            </form>
            <a href="{% url 'password-reset' %}">Forgot Password?</a>
            <p>New to DJ AUTH? <a href="{% url 'signup-page' %}">Create an account</a></p>
        <!-- Password Reset Form -->
        {% elif action == "forgot" %}
            <h2>Forgot your password?</h2>
            <p>Please enter the email address, we will send you instructions to reset your password.</p>
            <form method="post"  autocomplete="off">
                {% csrf_token %}
                <div class="">
                    <label>Email</label>
                    <input type="hidden" id="userid" name="userid" value="{{ user_id }}" />
                    {{ form.email }}
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <p class="">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="">
                    {{ form.captcha }}
                    {% if form.captcha.errors %}
                        {% for error in form.captcha.errors %}
                            <p class="">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <button type="submit">Request reset link</button>
            </form>
        <!-- Set Password form -->
        {% else %}
            <h2>Reset Password</h2>
            <form method="post"  autocomplete="off">
                {% csrf_token %}
                <div class="">
                    <label>New Password</label>
                    {{ form.new_password1 }}
                    {% if form.new_password1.errors %}
                        {% for error in form.new_password1.errors %}
                            <p class="">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="">
                    <label>Re-confirm New Password</label>
                    {{ form.new_password2 }}
                    {% if form.new_password1.errors %}
                        {% for error in form.new_password1.errors %}
                            <p class="">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="">
                    <script src='https://www.google.com/recaptcha/api.js'></script>
                    <div class="g-recaptcha" data-sitekey="{{ sitekey }}"></div>
                </div>
                
                <button type="submit">Reset</button>
            </form>           
        {% endif %}
    </div>
    {% endblock %}