{% extends 'index.html' %}

{% block content %}
    {% if action == "resend" %}

        <h1>Resend OTP</h1>
        <form action="" method="post">
            {% csrf_token %}
            <label>Email</label>
            <input name="email" type="email" placeholder="Enter mail address"/>
            <label>Phone Number</label>
            <input name="phonenumber" type="tel" placeholder="Enter phone number eg. 9876543210"/>
            <button type="submit">Send OTP</button>        
        </form>
    
    {% if action == "login" %}
    
        <h1>Verify OTP for LOGIN</h1>
        <form action="" method="post">
            {% csrf_token %}
            <label>OTP</label>
            <input name="otp_code" type="text" placeholder="Enter OTP from SMS"/>
            <button type="submit">VERIFY</button>        
        </form>

        <p>Need a new OTP? <a href="{% url 'resend-login-sms-otp' uidb64=uidb64 %}">Resend OTP</a></p>

    {% else %}

        <h1>Verify OTP</h1>
        <form action="" method="post">
            {% csrf_token %}
            <label>OTP</label>
            <input name="otp_code" type="text" placeholder="Enter OTP (4 digits from MAIL + 4 digits from SMS)"/>
            <button type="submit">Activate Account</button>        
        </form>

        <p>Need a new OTP? <a href="{% url 'resend-otp' %}">Resend OTP</a></p>
    
    {% endif %}
{% endblock %}